
@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

<span class="alert-info">Area: a*b = @ViewBag.Area</span>
<br />
<span class="alert-success">Perimeter: 2*a + 2*b = @ViewBag.Perimeter</span>